@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply p-1 bg-gray-400;

    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-teal bg-opacity-70 duration-300 hover:bg-opacity-100;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-md bg-transparent;
  }

  html {
    scroll-behavior: smooth;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply overflow-hidden text-white bg-gray-400;
  }

  main {
    @apply relative overflow-y-auto w-screen min-h-screen px-10 py-20 xl:w-full xl:px-20;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-inter !important;
  }

  h1 {
    @apply font-black text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl !important;
  }

  h2 {
    @apply mb-8 font-black text-4xl lg:text-5xl xl:text-6xl text-teal !important;
  }

  h4 {
    @apply font-bold text-xl !important;
  }

  a,
  button,
  input,
  p,
  span,
  textarea {
    @apply font-poppins !important;
  }

  a {
    @apply text-gray-100 duration-300 hover:text-teal !important;
  }

  input,
  textarea {
    @apply w-full h-full px-4 py-3 outline-none text-gray-50 bg-inherit md:px-5 md:py-4 !important;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-100 !important;
  }

  :-webkit-autofill,
  :-webkit-autofill:hover,
  :-webkit-autofill:focus,
  :-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px theme('colors.gray.300') inset !important;
    -webkit-text-fill-color: theme('colors.gray.50') !important;
  }

  ::selection {
    @apply text-white bg-purple;
  }

  p {
    @apply my-4 !important;
  }
}

@layer utilities {
  .social-icon {
    @apply w-7 h-7 lg:w-6 lg:h-6;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-teal via-purple to-red;
  }

  .text-glitch {
    @apply relative;

    text-shadow: 0.05em 0 0 rgba(253, 33, 85, 0.75),
      -0.05em -0.025em 0 rgba(8, 253, 261, 0.75),
      -0.025em 0.05em 0 rgba(210, 108, 213, 0.75);
  }

  .link {
    @apply font-semibold text-teal bg-gradient-to-r from-teal via-purple to-red bg-no-repeat duration-300 !important;

    background-position-x: 0px;
    background-position-y: 100%;
    background-size: 0 0.1rem;
  }

  .link:hover {
    background-size: 100% 0.1rem;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-teal via-purple to-red;
  }

  .col-2 {
    @apply flex flex-col gap-8 lg:flex-row lg:items-center lg:gap-12;
  }

  .col-2 > section {
    @apply flex-1;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
